.header {
  background-color: var(--background);
  width: 100%;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

.leftMenu {
  display: flex;
  flex: 1;
  gap: 8px;
}

.rightMenu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-inactive-color);
  border-radius: 40px;
}

.linkActive {
  color: var(--text-primary-color);
}

.logo {
  display: flex;
  align-items: center;
}
